<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-active-square">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="index.html"><img class="hide-on-med-and-down"
          src="/img/logo-black-COS.png"
          alt="materialize logo" /></a><a class="navbar-toggler" href="#"><i
          class="material-icons">radio_button_checked</i></a></h1>
  </div>
  <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out"
    data-menu="menu-navigation" data-collapsible="menu-accordion">

    <li class="navigation-header">
      <a class="navigation-header-text">Acciones</a>
      <i class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan modal-trigger" href="#modal_crear_bot"><i
          class="material-icons">add</i><span class="menu-title">Crear Bot</span></a>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan" href="/profile"><i
          class="material-icons">format_list_numbered</i><span class="menu-title" data-i18n="Chat">Listado de
          Bots</span><span id="cantidad_bots" class="badge red darken-4 float-right mr-2"></span></a>
    </li>
  </ul>

  <div class="navigation-background"></div><a
    class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
    href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>